body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
}


h1 {
    color: #007bff;
}
button{
    size: 300px;
}